*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: rgb(31, 133, 235);
    /* position: fixed;
    top: 0; */
}
.logo a{
    font-size: 1.8em;
    color: black;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.prod{
    font-size: 1.25em;
}
nav ul li{
    position: relative;
    color: #fff;
    cursor: pointer;
}
nav ul a{
    font-size: 1.3em;
    font-weight: 500;
    color: #eee;
    transition: 0.3s;
}
/* ........................pmenu................ */
#pmenu{
    position: absolute;
    visibility: hidden;
    background: rgb(31, 133, 235);
    opacity: 0;
    top: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 0;
    transition: .5s;
}
ul#pmenu li{
 width: 100%;
}
ul#pmenu li a:hover{
    background: #2a456d;
    color: #eee;
}
ul#pmenu li a{
    padding: 8px;
    text-align: left;
    display: block;
    font-size: .75em;
}
li:hover ul#pmenu{
    visibility: visible;
    opacity: 1;
}
nav img.user{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.submenu-main{
    position: absolute;
    top: 80px;
    right: 4%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.submenu-main.active{
    max-height: 200px;
}
.submenu{
    background: #fff;
    padding:20px 20px 10px 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile h4{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 6px;
}
.user-profile p{
    font-weight: 500;
    font-size: 1.09em;
}
.user-profile img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 15px;
}
.submenu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #8a8a8a;
    margin: 15px 20px 10px 0 ;
}
.submenu-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #161515;
    width: 100%;
    margin: 10px 0 10px;
    /* background: #eee; */
    padding: 10px 0;
}
.submenu-link .k svg{
    background: #eee;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 5px;
}
.submenu-link .k{
    display: flex;
    align-items: center;
}
.submenu-link span{
    transition: 0.3s;
}
.submenu-link p{
    font-size: 1.15em;
    margin-left: 15px;
}
.submenu-link:hover span{
    transform: translateX(5px);
}
.submenu-link:hover p{
    font-weight: 600;
}

.container{
    background: #eee;
    min-height: 100vh;
    padding: 0 5%;
}
.container h1{
    text-align: center;
    padding-top: 30px;
    font-size: 2.3em;
}
.products{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 5px;
}
.product img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.btn{
    cursor: pointer;
    width: 70%;
    background-color: #3083c7;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #fff;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn:hover{
    background-color: #226ba7;
}
.btn svg{
    font-size: 1em;
    color: #8a8a8a;
}